body
{
    font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",  Helvetica, Arial, sans-serif;
}

body.dark-theme
{
    --highlight: #fe75fe;
    --activated: #73fffe;
}

a
{
    color: inherit var(--color-secondary);
}

code, kbd, code[class*="language-"],
pre[class*="language-"]
{
    font-family: 'IBM Plex Mono', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

.button
{
    border-radius: 0;
}

.post a, .post a:visited
{
    text-decoration: underline;
    color: var(--highlight);
}

.post a:hover, .post a:active, .post a:focus
{
    color: var(--activated);
}

.post-cover img
{
    border-radius: 0;
}

.logo__cursor
{
    animation: cursor 1.75s infinite;
    border: 1px solid #a9a9b3;
    background: none;
}